project:
  type: default

format:
  pdf:
    toc: true
    toc-depth: 3
    number-sections: true
    documentclass: article
    papersize: a4
    geometry: margin=1in
    fontsize: 11pt
    colorlinks: true
    linkcolor: blue
    urlcolor: blue
    citecolor: blue

execute:
  echo: false
  warning: false
