---
title: "Lessons"
toc: false
page-navigation: false
sidebar:
  nav: false
---


## Course lessons

Use the sidebar to navigate, or choose a lesson below.

{% for m in nav.modules %}
### {{ m.title }}

{% for item in nav.flat_lessons if item.module_id == m.id %}
{% set filename = item.href.split("/")[-1] %}
[{{ item.lesson_nav_title if item.lesson_nav_title is defined else item.lesson_title }}]({{ filename }})  
{% endfor %}

{% endfor %}

